/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2016 (13.0.4001)
    Source Database Engine Edition : Microsoft SQL Server Enterprise Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [Xiomicilios]
GO
/****** Object:  Table [dbo].[Categoria]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categoria](
	[idCategoria] [bigint] IDENTITY(1,1) NOT NULL,
	[nombreCategoria] [nchar](50) NOT NULL,
	[imagenCategoria] [image] NOT NULL,
	[fechaCategoria] [datetime] NOT NULL,
	[activoCategoria] [bit] NOT NULL,
 CONSTRAINT [PK_Categoria] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle](
	[idDetalle] [bigint] NOT NULL,
	[idProducto] [bigint] NOT NULL,
	[idFactura] [bigint] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precioUnitario] [money] NOT NULL,
	[subtotal] [money] NOT NULL,
 CONSTRAINT [PK_Detalle] PRIMARY KEY CLUSTERED 
(
	[idDetalle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[idFactura] [bigint] NOT NULL,
	[idUsuario] [bigint] NOT NULL,
	[total] [money] NOT NULL,
	[fechaFactura] [datetime] NOT NULL,
	[activoFactura] [bit] NOT NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[idFactura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [bigint] NOT NULL,
	[idCategoria] [bigint] NOT NULL,
	[nombreProducto] [nchar](50) NOT NULL,
	[precioProducto] [money] NOT NULL,
	[descripcion] [text] NOT NULL,
	[fechaProducto] [nchar](10) NOT NULL,
	[activoProducto] [bit] NOT NULL,
	[imagen] [image] NOT NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[idUsuario] [bigint] IDENTITY(1,1) NOT NULL,
	[nombreUsuario] [nchar](50) NOT NULL,
	[apellido] [nchar](50) NOT NULL,
	[usuario] [nchar](50) NOT NULL,
	[correo] [nchar](50) NOT NULL,
	[ciudad] [nchar](50) NOT NULL,
	[direccion] [nchar](50) NOT NULL,
	[telefono] [nchar](15) NOT NULL,
	[contrasena] [nchar](50) NOT NULL,
	[fechaUsuario] [datetime] NOT NULL,
	[activoUsuario] [bit] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Categoria] ON 

SET IDENTITY_INSERT [dbo].[Categoria] OFF
SET IDENTITY_INSERT [dbo].[Usuario] ON 

SET IDENTITY_INSERT [dbo].[Usuario] OFF
ALTER TABLE [dbo].[Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_Factura] FOREIGN KEY([idFactura])
REFERENCES [dbo].[Factura] ([idFactura])
GO
ALTER TABLE [dbo].[Detalle] CHECK CONSTRAINT [FK_Detalle_Factura]
GO
ALTER TABLE [dbo].[Detalle]  WITH CHECK ADD  CONSTRAINT [FK_Detalle_producto] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Detalle] CHECK CONSTRAINT [FK_Detalle_producto]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([idUsuario])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_usuario]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Categoria] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[Categoria] ([idCategoria])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Categoria]
GO
/****** Object:  StoredProcedure [dbo].[spr_actualizar_info_usuario]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spr_actualizar_info_usuario]

@nombreUsuario  nchar(50),
@apellido nchar(50),
@usuario nchar(50),
@correo nchar(50),
@ciudad nchar(50),
@direccion nchar(50),
@telefono nchar(15),
@contrasena nchar(50),
@fechaUsuario datetime

AS

UPDATE [dbo].[Usuario]
SET [nombreUsuario] = @nombreUsuario,
	   [apellido] = @apellido,
	   [usuario] = @usuario,
	   [correo] = @correo,
	   [ciudad] = @ciudad,
	   [direccion] = @direccion,
	   [telefono] = @telefono,
	   [contrasena] = @contrasena,
	   [fechaUsuario] = @fechaUsuario
 WHERE [activoUsuario] = 1
GO
/****** Object:  StoredProcedure [dbo].[spr_consultar_categoria]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spr_consultar_categoria]

AS

SELECT [idCategoria]
      ,[nombreCategoria]
      ,[imagenCategoria]
      ,[fechaCategoria]
      ,[activoCategoria]
	   FROM Categoria
  WHERE activoCategoria = 1
GO
/****** Object:  StoredProcedure [dbo].[spr_consultar_producto]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spr_consultar_producto]

@idProducto bigint

AS

SELECT *
  FROM [dbo].[Producto]
  WHERE idProducto = @idProducto AND activoProducto = 1
GO
/****** Object:  StoredProcedure [dbo].[spr_insertar_detalle]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spr_insertar_detalle]

@idDetalle bigint,
@idProducto bigint,
@idFactura bigint,
@cantidad int,
@precioUnitario money,
@subtotal money

AS

INSERT INTO [dbo].[Detalle]
           ([idDetalle]
           ,[idProducto]
           ,[idFactura]
           ,[cantidad]
           ,[precioUnitario]
           ,[subtotal])
     VALUES
           (@idDetalle,
			@idProducto,
			@idFactura,
			@cantidad,
			@precioUnitario,
			@subtotal)
GO
/****** Object:  StoredProcedure [dbo].[spr_insertar_factura]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spr_insertar_factura]

@idFactura bigint,
@idUsuario bigint,
@total money,
@fechaFactura datetime,
@activoFactura bit

 AS
INSERT INTO [dbo].[Factura]
           ([idFactura]
           ,[idUsuario]
           ,[total]
           ,[fechaFactura]
           ,[activoFactura])
     VALUES
           (@idFactura,
 @idUsuario,
 @total,
 @fechaFactura,
 1)
GO
/****** Object:  StoredProcedure [dbo].[spr_listar_categorias]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spr_listar_categorias]

AS

SELECT * FROM Categoria
  WHERE activoCategoria = 1
GO
/****** Object:  StoredProcedure [dbo].[spr_login]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spr_login]
@usuario varchar(50),
@contrasena varchar(50)

as

SELECT * FROM usuario AS u WHERE u.usuario=@usuario AND u.contrasena=@contrasena
GO
/****** Object:  StoredProcedure [dbo].[spr_productos_por_categoria]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spr_productos_por_categoria]

@idCategoria bigint

AS

SELECT *
  FROM [dbo].[Producto]
  WHERE idCategoria = @idCategoria AND activoProducto = 1
GO
/****** Object:  StoredProcedure [dbo].[spr_registrar_usuario]    Script Date: 25/09/2017 1:52:40 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[spr_registrar_usuario]

@nombreUsuario nchar(50),
@apellido nchar(50),
@usuario nchar(50),
@correo nchar(50),
@ciudad nchar(50),
@direccion nchar(50),
@telefono nchar(15),
@contrasena nchar(50),
@fechaUsuario datetime

AS

INSERT INTO [dbo].[Usuario]
           ([nombreUsuario]
           ,[apellido]
           ,[usuario]
           ,[correo]
           ,[ciudad]
           ,[direccion]
           ,[telefono]
           ,[contrasena]
           ,[fechaUsuario]
           ,[activoUsuario])
     VALUES
           (@nombreUsuario,
			@apellido,
			@usuario ,
			@correo,
			@ciudad,
			@direccion,
			@telefono,
			@contrasena,
			@fechaUsuario,
			1)


GO
